{% extends 'snapventure/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid fullpage-image">
  <div class="container adjusted">
    <div class="col-md-8">
      <h1 class="homepage-title">A journey starts here.</h1>
      <p class="homepage-lead">
        Snapventure is a platform which allows you to create journeys with qrcodes as nodes.
        A nice plus for your events, treasure hunts or educational journeys.
      </p>
      <a href="/accounts/register/" class="btn btn-default btn-danger btn-lg">Join the adventure</a>
      <a href="{% url 'journey_list' %}" class="btn btn-default btn-danger btn-lg">Show journeys</a>
    </div>
  </div>
</div>

{% endblock %}
