{% extends 'snapventure/base.html' %}

{% load static %}

{% block styles %}
<style>
#map-canvas {
  height: 600px;
}
</style>
{% endblock %}

{% block content %}


<div class="container-fluid" style="background-image:url('{{ object.img_ambiance.url }}'); background-size:cover; padding: 0px;">
  <div class="container-fluid" style="background-color: rgba(0,0,0,.6); color: white; padding: 5% 0% 5% 0%;">
    <div class="container">

      <div class="col-md-12">
        <h1>{{ object.name }}</h1>
      </div>

    </div>
  </div>
</div>
<br/>
<div class="container">

  <div class="col-md-9" style="font-size: 15pt; text-align:justify;">
    {{ object.description|safe }}

    <hr/>

    <h2>Map overview</h2>

    <p>Map here yeah</p>
    <div id="map-canvas"></div>



    <h2>Steps of this journey</h2>
    {% for step in object.step_set.all|dictsort:"order_id" %}

    <div class="panel panel-default">
      <div class="panel-body">
        {{ step.name }}
        <a href="{% url 'step_update' step.slug %}">Edit step</a>
      </div>
    </div>

    {% endfor %}

  </div>

  <div class="col-md-3">

    <p>Other informations</p>

    Creation : {{ object.created }}<br/>
    Updated : {{ object.last_updated }}<br/>
    Start time: {{ object.start_time }}<br/>
    End time:{{ object.end_time }}<br/>
    Private :{{ object.private }}<br/>
    Active: {{ object.active }}<br/>

    <a class="btn btn-default" href="{% url 'journey_list' %}">Journey Listing</a>
    <a class="btn btn-primary" href="{{object.get_update_url}}">Edit Journey</a>


  </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&key=AIzaSyAj6kuXFBzL_NCXe3LVrAcvbM3Tk93Nimk"></script>
<script>
function initialize() {
  var map = new google.maps.Map(document.getElementById('map-canvas'));
  var bounds = new google.maps.LatLngBounds();
  function addMarker(lat, lng, title, lab) {
    var position = new google.maps.LatLng(lat, lng);
    var marker = new google.maps.Marker({
      position: position,
      map: map,
      clickable: true,
      title: title,
      label: lab
    });
    bounds.extend(position);
  }


  var flightPlanCoordinates = [
    {% for step in object.step_set.all|dictsort:"order_id" %}
    {lat: {{step.position.latitude}}, lng: {{step.position.longitude}}},
    {% endfor %}
  ];

  var flightPath = new google.maps.Polyline({
    path: flightPlanCoordinates,
    geodesic: true,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 2
  });

  flightPath.setMap(map);

  {% for step in object.step_set.all|dictsort:"order_id" %}
  addMarker({{ step.position.latitude }}, {{ step.position.longitude }}, "{{ step.name }}", "{{ step.order_id }}");
  {% endfor %}
  map.fitBounds(bounds);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>


{% endblock %}
