{% extends 'snapventure/base.html' %}

{% load static %}

{% block content %}


<div class="container-fluid" style="background-image:url('{{ object.img_ambiance.url }}'); background-size:cover; padding: 0px;">
  <div class="container-fluid" style="background-color: rgba(0,0,0,.6); color: white; padding: 5% 0% 5% 0%;">
    <div class="container">

      <div class="col-md-12">
        <h1>{{ object.name }}</h1>
      </div>

    </div>
  </div>
</div>
<br/>
<div class="container">

  <div class="col-md-9" style="font-size: 15pt; text-align:justify;">
    {{ object.description|safe }}

    <hr/>

    <h2>Steps of this journey</h2>
    {% for step in object.step_set.all %}

    <div class="panel panel-default">
      <div class="panel-body">
      {{ step.name }}
    </div>
    </div>

    {% endfor %}

  </div>

  <div class="col-md-3">

    <p>Other informations</p>

    Creation : {{ object.created }}<br/>
    Updated : {{ object.last_updated }}<br/>
    Start time: {{ object.start_time }}<br/>
    End time:{{ object.end_time }}<br/>
    Private :{{ object.private }}<br/>
    Active: {{ object.active }}<br/>

    <a class="btn btn-default" href="{% url 'journey_list' %}">Journey Listing</a>
    <a class="btn btn-primary" href="{{object.get_update_url}}">Edit Journey</a>


  </div>
</div>



{% endblock %}
