{% extends 'snapventure/base.html' %}

{% load add_css %}
{% load static %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/journey-form.css' %}">

{% endblock %}

{% block js %}
<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
{% endblock %}


{% block content %}

<form name="create_journey" method="post" enctype="multipart/form-data" novalidate>
  {% csrf_token %}
  <div class="container">

    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-12">
            <h2>Create New Journey</h2>
            <p class="lead">
              On this page you can add a new journey. After completing this form, you will be asked
              to create the related steps of this journey.
            </p>

            <div class="form-group">
              {{ form.name.errors }}
              {{ form.name|addclass:"form-control input-lg" }}
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="container-fluid">


              <div class="form-group">
                {{ form.description.errors }}
                <label for="{{ form.description.id_for_label }}">Description</label>
                {{ form.description|addclass:"form-control" }}
                <p class="help-block">A description of the context or the goal.</p>
              </div>
            </div>
          </div>

          <hr/>
          <div class="row">
            <div class="container-fluid">
              <div class="col-md-12">


                <label>Validity period</label>
                <div class="form-group">
                  <div class="input-group input-daterange">
                    {{ form.start_time|addclass:"form-control datetimepickerstart"  }}
                    <div class="input-group-addon">to</div>
                    {{ form.end_time|addclass:"form-control datetimepickerend"  }}
                  </div>
                  <p class="help-block">Leave end date empty for no time limit.</p>
                </div>
              </div>
            </div>

          </div>


          <hr/>



          <input type="submit" class="btn btn-success " value="Save this journey" />



        </div>
      </div>
    </div>

    <div class="col-md-4">

      <div class="panel panel-default">
        <div class="panel-body">

          <div class="row">
            <div class="container-fluid">

              <div class="col-md-12">
                <div class="form-group">
                  {{ form.img_description.errors }}
                  <label for="{{ form.img_description.id_for_label }}">Description image</label>
                  {{ form.img_description|addclass:"dropzone" }}
                  <p class="help-block">This image directly represents your journey. It's its profile picture.</p>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  {{ form.img_ambiance.errors }}
                  <label for="{{ form.img_ambiance.id_for_label }}">Ambiance image</label>
                  {{ form.img_ambiance|addclass:"dropzone" }}
                  <p class="help-block">Displayed as a banner to show the ambiance of your journey.</p>
                </div>
              </div>
            </div>
          </div>




          <div class="row">
            <div class="container-fluid">

              <div class="col-md-6">

                <div class="form-group">
                  {{ form.active.errors }}
                  <label for="{{ form.active.id_for_label }}">Active</label>
                  {{ form.active  }}
                  <p class="help-block">Is this journey accessible for people ?</p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  {{ form.private.errors }}
                  <label for="{{ form.private.id_for_label }}">Private</label>
                  {{ form.private  }}
                  <p class="help-block">Is this journey accessible only for people who know it ?</p>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>
</form>

<script>

// Should be done cleaner
$(".datetimepickerstart").datetimepicker({autoclose:true});
$(".datetimepickerend").datetimepicker({autoclose:true});
$(".datetimepickerstart").datetimepicker('setDate', new Date());

tinymce.init({
  selector: '#id_description',
  menubar: false,
  height: '200',

  plugins: [
    'advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table contextmenu paste code'
  ],
  toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
  content_css: '//www.tinymce.com/css/codepen.min.css'
});

</script>



{% endblock %}
