{% extends 'snapventure/base.html' %}

{% load static %}

{% block styles %}
<style>
#map-canvas {
  height: 600px;
}
</style>
{% endblock %}

{% block content %}


<div class="container-fluid" style="background-image:url('{{ object.img_ambiance.url }}'); background-size:cover; padding: 0px;">
  <div class="container-fluid" style="background-color: rgba(0,0,0,.6); color: white; padding: 5% 0% 5% 0%;">
    <div class="container">

      <div class="col-md-12">
        <h1>{{journey.name}}</h1>
      </div>

    </div>
  </div>
</div>
<br/>
<div class="container">

  <div class="col-md-9">

    <a href="{% url 'add_journey_step' journey.slug %}" class="btn btn-default">Add new step</a>

    <hr/>

    <h2>Steps of this journey</h2>
    {% for step in steps %}

    <div class="panel panel-default">
      <div class="panel-body">
        {{ step.name }}
        <span class="pull-right">
        <a href="{% url 'step_update' step.slug %}">Edit</a>
        <a href="{% url 'step_delete' step.slug %}">Delete</a>
      </span>
      </div>
    </div>

    {% endfor %}

    <h2>Map journey overview</h2>

    <div id="map-canvas"></div>




  </div>

  <div class="col-md-3">


  </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&key=AIzaSyAj6kuXFBzL_NCXe3LVrAcvbM3Tk93Nimk"></script>
<script>
function initialize() {
  var map = new google.maps.Map(document.getElementById('map-canvas'));
  var bounds = new google.maps.LatLngBounds();
  function addMarker(lat, lng, title, lab) {
    var position = new google.maps.LatLng(lat, lng);
    var marker = new google.maps.Marker({
      position: position,
      map: map,
      clickable: true,
      title: title,
      label: lab
    });
    bounds.extend(position);
  }


  var flightPlanCoordinates = [
    {% for step in steps %}
    {lat: {{step.position.latitude}}, lng: {{step.position.longitude}}},
    {% endfor %}
  ];

  var flightPath = new google.maps.Polyline({
    path: flightPlanCoordinates,
    geodesic: true,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 2
  });

  flightPath.setMap(map);

  {% for step in steps %}
  addMarker({{ step.position.latitude }}, {{ step.position.longitude }}, "{{ step.name }}", "{{ step.order_id }}");
  {% endfor %}
  map.fitBounds(bounds);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>


{% endblock %}
