{% extends 'snapventure/base.html' %}

{% load static %}
{% load add_css %}

{% block js %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
{% endblock %}


{% block content %}


<div class="container">

  <form action="" method="post"  enctype="multipart/form-data" id="steps-form">
    {% csrf_token %}

    {{ step_form.management_form }}
    {{ step_form.non_form_errors }}

    {% for form in step_form %}

    <div class="panel panel-default step-formset">
      <div class="panel-body">
        {{form.id}}

        {% if form.subject.errors %}
        <ol>
          {% for error in form.subject.errors %}
          <li><strong>{{ error|escape }}</strong></li>
          {% endfor %}
        </ol>
        {% endif %}


        <div class="row">
          <div class="container-fluid">

            {% if forloop.last %}
            <h2>Create a new step</h2>
            {% else %}
            <h2>Step #{{forloop.counter}}</h2>
            {% endif %}

            <div class="form-group">
              {{ form.name.errors }}
              <!-- <label for="{{ form.name.id_for_label }}">Name</label> -->
              {{ form.name|addclass:"form-control input-lg" }}
              <p class="help-block">The name of this step.</p>
            </div>

            <button class="btn btn-default collapse-button" type="button" id="collapse-step-{{forloop.counter0}}-button">
              Add informations
            </button>
            <div class="collapse" id="collapse-step-{{forloop.counter0}}">
              <br/>
              <div class="form-group">
                {{ form.content_text.errors }}
                <label for="{{ form.content_text.id_for_label }}">Step content</label>
                {{ form.content_text|addclass:"form-control" }}
                <p class="help-block">A description of the context or the goal.</p>
              </div>
            </div>


          </div>
        </div>

      </div>
    </div>

    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    {% endfor %}

    <input type="submit" value="Save step(s)" />

  </form>


</div>


<script>
$('.step-formset').formset({
  addText: 'Add new step',
  deleteText: 'Remove this step'
});


$('#steps-form').on("click", ".collapse-button", function(){
  $(this).next().collapse("toggle")
})

</script>

{% endblock %}
