{% extends 'snapventure/base.html' %}

{% load static %}

{% block styles %}
<style>

.navbar{
  margin-bottom: 0;
}

#map-canvas {
  height: 600px;
}

h1{
  font-weight: 800;
  font-family:'Open Sans';
  letter-spacing: -2px;
}

p{
  font-weight: 400;
  font-family: 'Open Sans';
}
</style>
{% endblock %}

{% block content %}


<div class="container-fluid" style="background-image:url('{{ object.journey.img_ambiance.url }}'); background-size:cover; padding: 0px;">
  <div class="container-fluid" style="background-color: rgba(0,0,0,.6); color: white; padding: 5% 0% 5% 0%;">
    <div class="container">

      <div class="col-md-12">
        <h1>{{ object.name }}</h1>
      </div>
    </div>
  </div>
</div>
<br/>
<div class="container">

  <div class="col-md-12" style="font-size: 15pt; text-align:justify;">
    {{ object.content_text|safe }}

    <hr/>

    <div class="list-group">
      {% for step in object.step_set.all|dictsort:"order_id" %}
      <a href="{% url 'step_detail' step.slug %}" class="list-group-item">Step #{{step.order_id}} - <b>{{step.name}}</b></a>
      {% endfor %}
    </div>



  </div>


{% if not object.final  %}

<h2>The next step is not far away !</h2>
<p>Get ready for : <b>{{ next_step.name }}</b></p>
    <div id="map-canvas"></div>
{% else %}

<h1>You finished this journey ! Congratulations !</h1>

{% endif %}


</div>

{% if not object.final  %}

<script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&key=AIzaSyAj6kuXFBzL_NCXe3LVrAcvbM3Tk93Nimk"></script>
<script>
function initialize() {
  var map = new google.maps.Map(document.getElementById('map-canvas'));
  var bounds = new google.maps.LatLngBounds();
  function addMarker(lat, lng, title, lab) {
    var position = new google.maps.LatLng(lat, lng);
    var marker = new google.maps.Marker({
      position: position,
      map: map,
      clickable: true,
      title: title,
      label: lab
    });
    bounds.extend(position);
  }


  addMarker({{ next_step.position.latitude }}, {{ next_step.position.longitude }}, "{{ next_step.name }}", "{{ next_step.order_id }}");

  map.fitBounds(bounds);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

{% endif %}


{% endblock %}
