{% extends 'snapventure/base.html' %}

{% load static %}
{% load add_css %}

{% block js %}
<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
{% endblock %}

{% block content %}

<div class="container">

  {% if steps.count > 0 %}
  <div class="col-md-12 text-center">

    {% for step in steps %}

    {% if forloop.first %}
    <span class="">
      <span class="label label-success" style="font-size:.8em">{{ forloop.counter }}</span>
    </span>
    {% elif forloop.last %}
    <span class="">
      <span class="label label-default" style="font-size:.8em">{{ forloop.counter }}</span>
    </span>
    {% else %}
    <span class="">
      <span class="label label-danger" style="font-size:.8em">{{ forloop.counter }}</span>
    </span>
    {% endif %}

    {% endfor %}
    <hr/>
  </div>
  {% else %}
  <div class="col-md-12">
    <h1>It's your first step</h1>
  </div>
  {% endif %}


</div>

<div class="container">

  <form action="" method="post"  enctype="multipart/form-data" id="steps-form" novalidate="">
    {% csrf_token %}

    {{ form.management_form }}
    {{ form.non_form_errors }}
    {{ form.media }}

    <div class="panel panel-default step-formset">
      <div class="panel-body">

        {% if form.subject.errors %}
        <ol>
          {% for error in form.subject.errors %}
          <li><strong>{{ error|escape }}</strong></li>
          {% endfor %}
        </ol>
        {% endif %}

        <div class="row">
          <div class="container-fluid">

            <div class="form-group">
              {{ form.name.errors }}
              <!-- <label for="{{ form.name.id_for_label }}">Name</label> -->
              {{ form.name|addclass:"form-control input-lg" }}
              <p class="help-block">The name of this step.</p>
            </div>

            <div class="form-group">
              {{ form.content_text.errors }}
              <!-- <label for="{{ form.content_text.id_for_label }}">Step content</label> -->
              {{ form.content_text|addclass:"form-control tinymce" }}
              <p class="help-block">This content will display when users scan this step.</p>
            </div>
            <div class="form-group">
              {{ form.position }}
              <p class="help-block">Where is this step ?</p>
            </div>

          </div>
        </div>

      </div>
    </div>

    <input type="submit" value="Save step" name="save" class="btn btn-default" />
    <input type="submit" value="Save and add another" name="save_and_add_another" class="btn btn-default" />

  </form>
  <br/>
</div>

<script>

tinymce.init({
  selector: '.tinymce',
  menubar: false,
  plugins: [
    'advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table contextmenu paste code'
  ],
  toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
  content_css: '//www.tinymce.com/css/codepen.min.css'
});
</script>


{% endblock %}
