{% extends 'snapventure/base.html' %}

{% load static %}
{% load add_css %}

{% block js %}
<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/step-form.css' %}">

{% endblock %}

{% block content %}

<form action="" method="post"  enctype="multipart/form-data" id="steps-form" novalidate="">
  {% csrf_token %}

  {{ form.management_form }}
  {{ form.non_form_errors }}
  {{ form.media }}

  <div class="container">


    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-12">

            {% if steps.count > 0 %}

            <h2>Create New Step</h2>
            <p class="lead">
              On this page you can add a new journey. After completing this form, you will be asked
              to create the related steps of this journey.
            </p>

            <div class="col-md-12 text-center">

              {% for step in steps %}

              <span class="">
                  <a class="label label-default step-label" role="button" data-trigger="focus" data-toggle="popover" data-placement="top" title="Step #{{step.order_id}}" tabindex="0" data-content="{{step.name}}" style="font-size:.8em">{{ forloop.counter }}</a>
              </span>

              {% endfor %}

              <span class="">
                  <a class="label label-success step-label" role="button" data-trigger="focus" data-toggle="popover" data-placement="top" title="Current Step" tabindex="0" data-content="This is the step you are creating now" style="font-size:.8em">X</a>
              </span>

              <hr/>
            </div>
            {% else %}
            <h2>Create The First Step</h2>
            <p class="lead">
              On this page you can add a new journey. After completing this form, you will be asked
              to create the related steps of this journey.
            </p>
            {% endif %}


            <div class="form-group">
              {{ form.name.errors }}
              {{ form.name|addclass:"form-control input-lg" }}
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="container">


    <div class="col-md-12">


      <div class="panel panel-default step-formset">
        <div class="panel-body">


          <div class="row">
            <div class="container-fluid">


              <div class="form-group">
                {{ form.content_text.errors }}
                <!-- <label for="{{ form.content_text.id_for_label }}">Step content</label> -->
                {{ form.content_text|addclass:"form-control tinymce" }}
                <p class="help-block">This content will display when users scan this step.</p>
              </div>
              <div class="form-group">
                {{ form.position }}
                <p class="help-block">Where is this step ?</p>
              </div>

            </div>
          </div>

        </div>
      </div>

      <input type="submit" value="Save step" name="save" class="btn btn-default" />
      <input type="submit" value="Save and add another" name="save_and_add_another" class="btn btn-default" />


      <br/>
    </div>
  </div>
</form>

<script>

$(function () {
  $('[data-toggle="popover"]').popover()
})

tinymce.init({
  selector: '.tinymce',
  menubar: false,
  plugins: [
    'advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table contextmenu paste code'
  ],
  toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
  content_css: '//www.tinymce.com/css/codepen.min.css'
});
</script>


{% endblock %}
