html, body{min-height: 100%; height: 100%; color: #f8f8f8;font-family: 'Open Sans';}
.navbar{margin-bottom: 0px;}
.fullpage-image{background-image: url('../img/bg.jpg'); height: 100%; background-size: cover;}
.homepage-title{font-weight: 800; font-size: 5em; letter-spacing: -4px;}
.homepage-lead{font-weight: 300; font-size: 1.6em; letter-spacing: -1px;}
.adjusted{margin-top: 12%;}
